*{
  font-family: 'Raleway', sans-serif;
}

.navbar {
    background-color:#232324;
    overflow: hidden;
    transition: background-color 0.3s; /* Transition for color change */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
  }

  /* Change the background color of navbar on hover */
  .navbar:hover {
    background-color: #EE964B;
  }

  /* Styling for the navbar items */
  .navbar a {
    align-items: center;

    display: inline-block;
    color: white;
    padding: 16px 30px;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s; /* Transition for color change */
  }

  /* Change the color of navbar text when hovered over */
  a:hover  {
    color: #232324;
  }
  #img {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 32px;
    height: 32px;
}
.navbar:hover + #img {
  content: url('https://i.ibb.co/hg2n0NB/va-logo-black.png');
  /* Add transition for a smooth effect */
  transition: color 0.3s; 
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
}
#home{
  height: 100vh;
  background-color:#232324;
  display: inline-block;
  width: 100%;
}
#about{
  height: 100vh;
  background-color:#232324;
  display: inline-block;
  width: 100%;
}
#team{
  height: 100vh;
  background-color:#232324;
  display: inline-block;
  width: 100%;
}
#contact{
  height: 100vh;
  background-color:#232324;
  display: inline-block;
  width: 100%;
}
h3{
  color: white;
  margin: 100px;
  text-align: center;
  padding: 0px;
}
.text{
  color: white;
  padding: 10px;
  margin: 80px;
  text-align: justify;
}
