<!DOCTYPE html>
<html lang="en">    
    <head>
        <title>
            Main page
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body{
                background-color: #232324;
            }
        </style>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='ext.css') }}">
    </head>
    <body>
       <div>
            {% include 'navbar.html' %}
            <div id="home">
                <h3>H O M E</h3>
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta sem sit amet augue pretium, 
                    sit amet ultrices quam malesuada. 
                    Sed turpis nulla, tristique ac quam vel, posuere malesuada orci. 
                    Aliquam tristique, quam non aliquet scelerisque, est est mattis lacus, 
                    sit amet feugiat augue arcu in tellus. Phasellus bibendum dui ornare turpis vestibulum, 
                    vitae pharetra turpis consequat. Donec feugiat est ac neque blandit maximus. Ut cursus, 
                    ante vel ullamcorper accumsan, metus lorem viverra justo, dignissim posuere elit magna sed velit. 
                    Nunc blandit accumsan mauris, nec ullamcorper sapien. Cras accumsan augue velit. 
                    Donec lacinia pulvinar quam eget accumsan. Aenean leo elit, pellentesque eget gravida at, dapibus sed ante. 
                    Morbi ullamcorper commodo augue ut ornare.
                    Donec nec sapien nec justo scelerisque vehicula a quis justo. 
                    Etiam risus nibh, tristique quis vestibulum vel, malesuada a odio. 
                    Donec fermentum urna lorem, a vulputate mi mattis eu. Nam tincidunt pretium nibh et pulvinar. </p>
            </div>
            <div id="about">
                <h3>A B O U T</h3>
                <p class="text">Sed a pellentesque mauris, sed scelerisque tellus. 
                    Donec nec sapien nec justo scelerisque vehicula a quis justo. 
                    Etiam risus nibh, tristique quis vestibulum vel, malesuada a odio. 
                    Donec fermentum urna lorem, a vulputate mi mattis eu. Nam tincidunt pretium nibh et pulvinar. 
                    Pellentesque egestas massa mollis dignissim semper. Sed finibus nibh mi, eget pellentesque nisi aliquet ac.

                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    Nunc sodales placerat cursus. Fusce ornare erat quis mauris vestibulum, eu semper lacus pharetra. 
                    Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    Donec bibendum nec justo sed euismod. Suspendisse potenti. In vehicula iaculis ex sit amet feugiat. 
                    Aenean sapien mauris, luctus eget libero vestibulum, accumsan pretium lacus. Donec tincidunt nec leo vel facilisis. 
                    Quisque ut orci porttitor, tristique dolor nec, dictum eros. In et condimentum augue, nec posuere erat. 
                    Duis nec metus a dolor posuere congue. Duis in massa vitae tortor mollis rutrum at a ipsum.
                     Curabitur nisl erat, mollis sed arcu non, convallis pulvinar lectus.</p>   
            </div>
            <div id="team">
                <h3>T E A M</h3>
                <p class="text">
                    Vestibulum ut varius lectus. Vivamus eget erat accumsan, accumsan erat quis, mattis leo. 
                    Pellentesque sed leo venenatis, bibendum augue eu, tristique diam. 
                    Nulla gravida gravida arcu luctus laoreet. In eget convallis massa. 
                    Donec vitae ligula facilisis, dictum libero non, auctor tellus.
                     Nulla blandit orci eget vehicula finibus. Integer eu erat odio. Nam at metus sem. 
                     Aliquam eu lorem a arcu tincidunt maximus.  
                     Sed a pellentesque mauris, sed scelerisque tellus. 
                     Donec nec sapien nec justo scelerisque vehicula a quis justo. 
                     Etiam risus nibh, tristique quis vestibulum vel, malesuada a odio. 
                     Donec fermentum urna lorem, a vulputate mi mattis eu. Nam tincidunt pretium nibh et pulvinar. 
                     Pellentesque egestas massa mollis dignissim semper. Sed finibus nibh mi, eget pellentesque nisi aliquet ac.
                     Vestibulum ut varius lectus. Vivamus eget erat accumsan, accumsan erat quis, mattis leo.  
                </p>
            </div>
            <div id="contact">
                <h3>C O N T A C T</h3>
                <p class="text">
                    Sed a pellentesque mauris, sed scelerisque tellus. 
                    Donec nec sapien nec justo scelerisque vehicula a quis justo. 
                    Etiam risus nibh, tristique quis vestibulum vel, malesuada a odio. 
                    Donec fermentum urna lorem, a vulputate mi mattis eu. Nam tincidunt pretium nibh et pulvinar. 
                    Pellentesque egestas massa mollis dignissim semper. Sed finibus nibh mi, eget pellentesque nisi aliquet ac.
                    Vestibulum ut varius lectus. Vivamus eget erat accumsan, accumsan erat quis, mattis leo. 
                    Pellentesque sed leo venenatis, bibendum augue eu, tristique diam. 
                    Nulla gravida gravida arcu luctus laoreet. In eget convallis massa. 
                    Donec vitae ligula facilisis, dictum libero non, auctor tellus.
                     Nulla blandit orci eget vehicula finibus. Integer eu erat odio. Nam at metus sem. 
                     Aliquam eu lorem a arcu tincidunt maximus.  
                </p>
            </div>
       </div>
    </body>
</html>