<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='ext.css') }}">
    <style>
      body {
      overflow: hidden; /* Hide scrollbars */
    }
    </style>
  </head>
  <body>
    <center>
      <nav class="navbar">
        <a href="#home">H O M E</a>
        <a href="#about">A B O U T</a>
        <a href="#team">T E A M</a>
        <a href="#contact">C O N T A C T</a>  
      </nav>
      <img src="{{ url_for('static', filename='images/White.png') }}" id="img" alt="Image 1">
    </center>
      
  </body>
</html>



